<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>289812204478-pn0hmnl9jkvv5klrrkqd2fc748tgnbm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289812204478-pn0hmnl9jkvv5klrrkqd2fc748tgnbm0</string>
	<key>API_KEY</key>
	<string>AIzaSyBKDgZ8TsvyBUIZmOmtjdMPb5KWU_rrydA</string>
	<key>GCM_SENDER_ID</key>
	<string>289812204478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.groceryguide</string>
	<key>PROJECT_ID</key>
	<string>grocery-list-aa76f</string>
	<key>STORAGE_BUCKET</key>
	<string>grocery-list-aa76f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289812204478:ios:37b3bf85d91c77127947ef</string>
	<key>DATABASE_URL</key>
	<string>https://grocery-list-aa76f.firebaseio.com</string>
</dict>
</plist>